/* mobile only */
@media (max-width:580px){
    .main-layout{
        padding: 10px;
    }
    .gallery-container-layout{
        gap: 10px;
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
        grid-auto-rows: 100px;
    }
    .meme-editor{
        flex-direction: column;
        justify-content: center;
        gap: 10px;

    }
    .acttions-layout{
        grid-template-columns: repeat(6 ,30px);
        grid-template-rows: repeat(6 ,30px);
        grid-template-areas: 
        "input-txt input-txt input-txt input-txt input-txt delete"
        "color-border color-fill increase decrease switch add "
        "font-family font-family font-family left center right"
        "icons icons icons icons icons icons"
        "icons icons icons icons icons icons"
        ". .share share . .";
    }
    .footer{
        position: relative;
        width: 100%;
        height: 10vh;
        padding: 0;
    }
    .main-content{
        height: 80vh;
    }
    .main-header{
        padding: 0 25px;
    }
    .main-header .nav-container .menu-btn{
        display: block;
        height: 30px;
        width: 30px;
        color: var(--clr2);
        background-color: rgba(255, 255, 255, 0);
        border: 0;
        cursor: pointer;
    }
        
        .main-header .nav-container .main-nav{
        display: flex;
        position: fixed;
        top: 4em;
        bottom: 0;
        left: 0;
        flex-direction: column;
        background-color: var(--clr10);
        height: 100vh;
        min-width: 100vw;
        transform: translateY(100%);
    }

    .main-header .main-nav a{
        background-color: var(--clr3);
        width: 100%; 
        border-bottom:1px solid var(--clr2) ;
        display: block;
    } 
    
    body.menu-open  .main-header .main-nav{
        transition: transform .6s, box-shadow .6s;
        transform: translateY(0);
        z-index: 1;
    }
  
}

/* small */
@media (min-width:580px) {
    .main-layout{
        max-width: 530px;
        margin: 0 auto;

    }

    .gallery-container-layout{
        gap: 10px;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        grid-auto-rows: 150px;
    }

    .meme-editor{
        padding: 10px 0;
    }

    .acttions-layout{
        grid-template-columns: repeat(5 ,30px);
        grid-template-rows: repeat(7 ,30px);
    }
}

/* MEDIUM */
@media (min-width: 830px){
    .main-layout{
        max-width: 740px;
        margin: 0 auto;
    }
}

/* LARGE */
@media (min-width: 1040px) {
    .main-layout{
        max-width: 1000px;
        margin: 0 auto;
    }
}