*{
    box-sizing: border-box;
    scroll-behavior: smooth ;
}

html{
    line-height: 1.25;
}

body{
    margin: 0;
}

.logo{
    height: 1.5rem;
}

img:not(.logo){
    object-fit: cover;
    width: 100%;
    height: 100%;
}

