.main-header{
    /* height: 33px; */
    background-color: var(--clr1);
}

.main-header .header-container{
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.main-header .nav-container a{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 70px;
    height: 75px;
    color: black;
    border-right: 1px solid black;
    text-decoration: none;
}
.main-header .nav-container a:first-child{
    border-left: 1px solid black;
}

.main-header .nav-container a:hover{
 background-color: var(--clr4);
}

.main-header .nav-container img{
    height: 30px;
}
.main-header .nav-container .menu-btn{
    display: none;
}