/* homepage */
.homepage{
    width: 100%;
}

/* main content */
.main-content{
    background-color: var(--clr3);
}

/* search bar */
.homepage .Search-bar{
    height:50px ;
    align-items: center;
    background-color: white;
}

.homepage .Search-bar .search-input{
    width: 150px;
    height: 100%;
    color: var(--clr2);
    border: 0;
}

.homepage .Search-bar .search-submit{
    background-color: white;
    border: 0;
    width: 60px;
}

.search-icon{
   width:  20px;
   height: 20px;
}
.homepage .Search-bar .buttom-line-decorition{
    border-bottom: 2px solid black;
    margin: 5px;
}

.homepage .Search-bar .keywords-list{
    width: 100%;
    padding-left: 25px;
}

 .homepage .Search-bar .keywords-list li{
    text-align: center;
}

/* gallery container */

.homepage .gallery-container{
    margin: 15px auto;
}

.homepage .gallery-container img{
    border-radius: 6px;
    cursor: pointer;
} 

.homepage .gallery-container img:hover{
    box-shadow: 1px 1px 2px black, 0 0 25px rgb(255, 166, 0), 0 0 5px rgb(219, 107, 3);
}
/* about */

.homepage .about{
    background-color: white;
    padding: 40px;
}

.homepage .about .circel-img{
    text-align: center;
    background-color: red;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.homepage .about .text{
    margin: auto;
    width: 350px;
}

.homepage .about a{
    border-radius: 6px;
    padding: 5px;
    background-color: var(--clr1);
    height: 30px;
    width: 30px;
}

.homepage .about img{
    margin: auto;
    height: 15px;
    width: 15px;
}


/* meme-editor */

.meme-editor .text-input{
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    border-radius: 6px;
    grid-area: input-txt;
}

.meme-editor button{
    padding: 5px;
    height: 100%;
    width: 100%;
    background-color: white;
    border: 0;
    border-radius: 6px;
    cursor: pointer;
}

.meme-editor .share, .meme-editor .save{
    width: 100%;
    background-color: var(--clr1);
}

.meme-editor .icons{
    height: 67.5px;
    width: 100%;
    background-color: white;
    border-radius: 6px;
}

.meme-editor .icon{
    font-size: 20px;
    text-align: center;
    padding: 2px;
}



